<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\data\TournamentTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=DATA-LT-CHI-057\MOBILLAMSSQL;Database=Tournaments; Trusted_Connection=True;" providerName="system.Data.SqlClient"/>
	</connectionStrings>
</configuration>